<p>
    <div class="panel panel-primary">
        <div class="panel-heading">Le comptoir général</div>
        <div class="panel-body">
            <uib-tabset active="active">
                <uib-tab heading="Store" index="0" >
                    <uib-tab-heading>
                        <i class="glyphicon glyphicon-list"></i> Store
                    </uib-tab-heading>
                    <div class="container">
                        <legend>Liste des articles</legend>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="article in storeCtrl.articles">
                                    <th>{{article.id}}</th>
                                    <td>{{article.title}}</td>
                                    <td>{{article.description}}</td>
                                    <td>
                                        <a ng-click="storeCtrl.supprimer(article.id)" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i> Supprimer
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form ng-submit="storeCtrl.ajouter()">
                            <legend>Ajouter un nouvel article</legend>
                            <div class="form-group row">
                                <label>Titre</label>
                                <input type="text" class="form-control" required ng-model="storeCtrl.article.title"/>
                            </div>
                            <div class="form-group row">
                                <label>Description</label>
                                <textarea  class="form-control" required ng-model="storeCtrl.article.description"/>
                            </div>
                            <div class="form-group row pull-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-plus"></i> Ajouter
                                </button>
                            </div>
                        </form>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</p>
